<div class="top">
  <div class="top-main">
    <!--search box-->
    <div class="top-search">
      <p style="line-height: 60px; font-size: 20px;">
        Potepan Shareでまだ体験したことのない旅をしよう
      </p>
      <form action="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search" accept-charset="UTF-8" method="get">
        <label for="___">エリア</label>
        <input type="text" name="area" id="area" value="" class="" placeholder="東京">
        <input type="submit" name="commit" value="探す" class="btn btn2 btn-primary" data-disable-with="探す">
      </form>                    
    </div>
  </div>
</div>
