/*top*/
.top {
  height: auto;
  width: 100%;
}

/*top-main*/
.top .top-main {
  height: 600px;
  width: 100%;
  background-image: url("top.jpg");
  background-size: cover;
  background-color: yellow;
}

.top .top-search {
  width: 460px;
  height: 240px;
  background-color: rgba(248, 249, 250, 0.6);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 25px;
  border-radius: 10px;
  display: inline-block;
  margin: 60px;
}

.top .top-sub {
  height: 400px;
  width: 100%;
}

.top p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 60px;
  font-size: 20px;
}

.top form {
  display: -ms-grid;
  display: grid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.top input {
  height: 35px;
  width: 300px;
  border-radius: 5px;
  border-color: #ccc;
  border-width: 2px;
  padding: 10px;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.top .btn2 {
  border: none;
  vertical-align: middle;
  line-height: 15px;
}

/*top-sub*/
.top .panel {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 60px;
  height: 360px;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.top .panel-item {
  height: 200px;
  width: 150px;
}

.top .top-sub p {
  margin-left: 60px;
  margin-top: 20px;
  -webkit-text-stroke-width: thin;
}

.top .panel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-bottom: 25px;
}
